<div class="skin-yellow layout-top-nav altura-full ng-scope" id="falsobody">
	<div class="wrapper">
		<div class="content-wrapper" style="min-height: 920px;">			
			<div class="container">
				<section class="mycontent">
					<div id="my-container" class="dashboard clearfix">
						<h2 class="text-center display-4">Hogwarts Students</h2>
						<div class="row">	      
							<div class="col-md-8 offset-md-2">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title">Hogwarts Students</h3>
										<button type="submit" data-toggle="modal" data-target="#modalAddEstudents" class="btn btn-success pull-right" (click)="mostrarHojaVida(modalAddEstudents)">Agregar</button>
									</div>					        
									<!-- /.card-header -->
									<div class="card-body">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th style="width: 10px">#</th>
													<th>Nombre</th>
													<th>patronus</th>
													<th style="width: 40px">años</th>
													<th style="width: 40px">foto</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let p of Users;let indice=index">
													<td align="center">{{indice+1}}</td>
													<td align="center">{{p.name}}</td>
													<td align="center">{{p.patronus}}</td>
													<td >{{characterAge(p.yearOfBirth)}}</td>
													<td style="height:100px; width:100px;" align="center"><img  style="display:block;" width="100%" height="100%"  src="{{p.image}}" /> </td>					                     
												</tr>					                    
											</tbody>
										</table>
									</div>
									<!-- /.card-body -->
									<div class="card-footer clearfix">					                
									</div>
								</div>
							</div>

						</div>	       
						
					</div>
				</section>
			</div>
		</div>
	</div>
</div>

<ng-template #modalAddEstudents > 
	<script>
		$(function() {
			$('input[name="birthday"]').daterangepicker({
				singleDatePicker: true,
				showDropdowns: true,
				minYear: 1901,
				maxYear: parseInt(moment().format('YYYY'),10)
			}, function(start, end, label) {
				var years = moment().diff(start, 'years');
				alert("You are " + years + " years old!");
			});
		});
	</script>
	<div _ngcontent-crf-c22="" class="modal_verde_admin">
	</div>
	<div class="modal-headGreen">
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Nombre</label>
		<div class="col-sm-8">
			<input type="text"  class="form-control"  [(ngModel)]="modalAddEstudents.name" name="Nombre" placeholder="Nombre">
		</div>
		<label  class="col-sm-2 control-label">Patronus</label>
		<div class="col-sm-8">
			<input type="text"  class="form-control"  [(ngModel)]="modalAddEstudents.patronus"  name="Patronus" placeholder="Patronus">
		</div>
		<label  class="col-sm-3 control-label">Year of Birth</label>
		<div class="col-sm-4">
			<input type="text"  class="form-control"  [(ngModel)]="modalAddEstudents.age"  name="Age" placeholder="Year of Birth">			
		</div>								
	</div>	
	<div class="modal-footer min-margin">
		<div class="col-sm-12 text-right">			
			<button type="submit"  class="btn btn-danger pull-left" (click)="modalRefHoja.hide()">Salir</button>
			<button type="submit"  class="btn btn-success pull-right" (click)="addStudents(modalAddEstudents)">Agregar</button>
		</div>
	</div>
</ng-template>
