<div class="skin-yellow layout-top-nav altura-full ng-scope" id="falsobody">
	<div class="wrapper">
		<div class="content-wrapper" style="min-height: 920px;">			
			<div class="container">
				<section class="mycontent">
					<div id="my-container" class="dashboard clearfix">
						<h2 class="text-center display-4">Hogwarts Teachers</h2>
						<div class="row">	      
		                <div class="col-md-8 offset-md-2">
		                    
						<div class="card">
					        <div class="card-header">
					            <h3 class="card-title">Hogwarts Teachers</h3>
					        </div>
					        <!-- /.card-header -->
					        <div class="card-body">
					            <table class="table table-bordered">
					                <thead>
					                    <tr>
					                      <th style="width: 10px">#</th>
					                      <th>Nombre</th>
					                      <th>patronus</th>
					                      <th style="width: 40px">años</th>
					                      <th style="width: 40px">foto</th>
					                    </tr>
					                </thead>
					                <tbody>
					                    <tr *ngFor="let p of Users;let indice=index">
					                      <td align="center">{{indice+1}}</td>
					                      <td align="center">{{p.name}}</td>
					                      <td align="center">{{p.patronus}}</td>
					                      <td >{{characterAge(p.yearOfBirth)}}</td>
					                       <td style="height:100px; width:100px;" align="center"><img  style="display:block;" width="100%" height="100%"  src="{{p.image}}" /> </td>
					                     
					                    </tr>
					                    
					                  </tbody>
					                </table>
					              </div>
					              <!-- /.card-body -->
					              <div class="card-footer clearfix">
					                <ul class="pagination pagination-sm m-0 float-right">
					                  <li class="page-item"><a class="page-link" href="#">«</a></li>
					                  <li class="page-item"><a class="page-link" href="#">1</a></li>
					                  <li class="page-item"><a class="page-link" href="#">2</a></li>
					                  <li class="page-item"><a class="page-link" href="#">3</a></li>
					                  <li class="page-item"><a class="page-link" href="#">»</a></li>
					                </ul>
					              </div>
					            </div>
						</div>

		                </div>	       
							<!-- ngIf: opciones.length > 0 -->

						
						
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
