<div class="skin-yellow layout-top-nav altura-full ng-scope" id="falsobody">
	<div class="wrapper">
		<div class="content-wrapper" style="min-height: 938px;">
			<div class="container">
				<section class="mycontent">
					<div id="my-container" class="dashboard clearfix">
						<div class="row">

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="tile disabled-class">
									<div class="opcion" (click)="btnActivarLibretas()">
										<img src="http://sapiens.udenar.edu.co/cdn/images/habilitar_libreta_dash.svg">
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="tile disabled-class">
									<div class="opcion" (click)="btnCargaAcademica()">
										<img src="http://sapiens.udenar.edu.co/cdn/images/carga_aca_dash.svg">
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="tile disabled-class">
									<div class="opcion" (click)="btnCalificaciones()">
										<img src="http://sapiens.udenar.edu.co/cdn/images/calificaciones.svg">
									</div>
								</div>
							</div>
							<!-- ngIf: opciones.length > 0 -->
						</div>
					</div>
					<!--<div class="divmensajesrojo">
						<label class="ng-binding"></label>
							<h4 style="font-size: 18px">Recuerde que las notas de cursos de verano se deben cargar en el sistema anterior</h4>
						</label>
					</div>-->


				</section>
			</div>
		</div>
	</div>
</div>
